<footer class="footer foreground-middle">
  <div class="container--centered">
    <!-- Discord -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="<%= t('links.discord') %>"
      target="_blank">
      <i class="fab fa-discord"></i>
    </a>

    <!-- Github -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="<%= t('links.github') %>"
      target="_blank">
      <i class="fab fa-github"></i>
    </a>

    <!-- Jottacloud -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="<%= t('links.jottacloud') %>"
      target="_blank">
      <%= inline_svg "jotta-cloud.svg", class: "svg svg__button" %>
    </a>

    <!-- Email -->
    <a class="fa-footer fa-2x image__footer image__footer-margin--large"
      href="<%= t('links.email') %>"
      target="_blank">
      <i class="fab fa-telegram-plane"></i>
    </a>
  </div>
</footer>
