<div class="container container--centered fixed-top">
  <div>
    <%= link_to t('author'), root_path, class: "font__color-default-header font__shadow-default font__navbar-item font__navbar-main-item" %>
  </div>
  <div>
      <%= link_to t('views.shared.button_home'), root_path, class: "font__color-default-header font__shadow-default font__navbar-item #{current_page(root_path)}" %>
      <%= link_to t('views.shared.button_projects'), projects_path, class: "font__color-default-header font__shadow-default font__navbar-item #{current_page(projects_path)}" %>
      <%= link_to t('views.shared.button_about'), about_path, class: "font__color-default-header font__shadow-default font__navbar-item #{current_page(about_path)}" %>
      <% if user_signed_in? %>
        <%= link_to t('views.shared.button_logout'), logout_path, :method => :delete, class: "font__color-default-header font__shadow-default font__navbar-item #{current_page(login_path)}" %>
      <% end %>
  </div>
</div>
