<%= render "partials/background" %>
<%= render "partials/nav" %>

<% if @author.present? %>
  <div class="container__box container__box-small container__box-background container__box-borders">
    <div>
      <div class="font__header2 font__color-default-header font__shadow-small font__header--medium font--padding-bottom">
        <%=
          best_in_place_if isEditable,
          @author.description,
          :title
        %>
        <% if isEditable %>
          <a href="#" id="activator-description" class="button--right-align">
            <i class="fa fa-edit"></i>
          </a>
        <% end %>
      </div>
      <div class="font__data font__color-default-data font__data-left">
        <%=
          best_in_place_if isEditable,
          @author.description,
          :data,
          as: :textarea,
          skip_blur: true,
          ok_button: 'Save',
          ok_button_class: "btn btn-outline-success button--padding",
          cancel_button: 'Cancel',
          cancel_button_class: "btn btn-outline-danger button--padding",
          inner_class: "bip__textarea",
          :activator => "#activator-description",
          display_with: lambda { |t| markdown(t) }
        %>
      </div>
    </div>
  </div>

  <div class="container__box container__box-small container__box--no-padding">
    <form action="<%= @resume %>" target="_blank" class="btn btn-outline-light btn--font-large button--background">
      <i class="fa fa-id-card"></i>
      <input type="submit" value="<%= t('views.about.button_view_resume') %>" class="button__container button__container--width-large"/>
    </form>
  </div>

  <% if @technical_skills.present? %>
    <div class="container__box container__box-small container__box-background container__box-borders">
    <div>
      <div class="font__header2 font__color-default-header font__shadow-small font__header--medium">
        <%= t('views.about.label_technical_skills') %>
      </div>
      <div class="font__data font__color-default-data font__data-left">
        <table class="table table--large">
          <tr>
            <% @technical_skills.each do |type, skills| %>
              <% if type.present? %>
                <td>
                  <table class="table table--large">
                    <tbody>
                      <tr>
                        <th class="table__label">
                          <div class="font--overflow-centered font__color-default-header">
                            <%= type.title %>
                          </div>
                        </th>
                      </tr>
                      <% skills.each do |skill| %>
                        <tr>
                          <td class="table__data">
                            <div class="font--overflow-centered font__color-default-data">
                              <%= skill.title %>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              <% end %>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
    </div>
  <% end %>

  <% if @soft_skills.present? %>
    <div class="container__box container__box-small container__box-background container__box-borders">
    <div>
      <div class="font__header2 font__color-default-header font__shadow-small font__header--medium">
        <%= t('views.about.label_soft_skills') %>
      </div>
      <div class="font__data font__color-default-data font__data-left">
        <table class="table table--large">
          <tr>
            <% @soft_skills.each do |type, skills| %>
              <% if type.present? %>
                <td>
                  <table class="table table--large">
                    <tbody>
                      <tr>
                        <th class="table__label">
                          <div class="font--overflow-centered font__color-default-header">
                            <%= type.title %>
                          </div>
                        </th>
                      </tr>
                      <% skills.each do |skill| %>
                        <tr>
                          <td class="table__data">
                            <div class="font--overflow-centered font__color-default-data">
                              <%= skill.title %>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </td>
              <% end %>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
    </div>
  <% end %>
<% end %>

<%= render "partials/footer" %>
